<div class="about" >
<div class="container">
  <div class="row">
    <div class="col-md-3 col">
      <i class="fa fa-pagelines fa-2x icons"></i>
      <h4 class="about-header" id="about">build showcase</h4>
      <p class="about-paragraph">We believe in Simple,Creative & flexible Design Standards with a Retina</p>
    </div>
    <div class="col-md-3 col">
        <i class="fa fa-laptop fa-2x icons"></i>
        <h4 class="about-header">full responsive</h4>
        <p class="about-paragraph">We believe in Simple,Creative & flexible Design Standards with a Retina</p>
    </div>
    <div class="col-md-3 col">
        <i class="fa fa-apple fa-2x icons"></i>
        <h4 class="about-header">Retina ready</h4>
        <p class="about-paragraph">We believe in Simple,Creative & flexible Design Standards with a Retina</p>
    </div>
    <div class="col-md-3 col">
        <i class="fa fa-paint-brush fa-2x icons"></i>
        <h4 class="about-header">unique design</h4>
        <p class="about-paragraph">We believe in Simple,Creative & flexible Design Standards with a Retina</p>
    </div>
  </div>
</div>
</div>
<div class="best-app">
<div class="container">
  <div class="row">
    <div class="col-md-5 col ">
      <div class="text-center">
        <h3 class="bestapp-header best-app-margin">best mobile app</h3>
        <p class="best-app-paragraph">We believe in Simple,Creative & flexible Design Standards with a Retina <br><br>We believe in Simple,Creative & flexible Design Standards with a Retina We believe in Simple,Creative & flexible Design Standards with a Retina</p>
        <button class="btn-apple-store"><i class="fa fa-apple"></i>  Apple store</button>
        <a href="#"class="btn-google-play"><i class="fa fa-paper-plane"></i> Google play</a>
      </div>
    </div>
    <div class="col-md-7 col ">
        <div class="text-center"><img class="best-app-margin best-app-image" src="../../../../assets/imgs/bestapp-image.png" alt="bestapp-image" width="350"></div>
    </div>
  </div>
</div>
</div>


<div class="wrapper">
    <app-feature></app-feature>
  </div>