<div class="text-center"><img src="../../../../assets/imgs/title-line-2.png"></div>
<div class="feature">
  <div class="container">
    <div class="text-center">
      <h3 class="feature-title">awesome features</h3>
      <p class="feature-paragraph">We believe in Simple,Creative & flexible Design Standards with a Retina.</p>
    </div>
    <div class="row">
      <div class="col-md-3 col vertical-line">
        <i class="fa fa-cogs fa-2x icon"></i>
        <h5>advanced settings</h5>
        <p class="feature-sub-paragraph ">We believe in Simple,Creative & flexible Design Standards with a Retina.</p>
        
      </div>
      <div class="col-md-3 col vertical-line">
        <i class="fa fa-envelope fa-2x icon"></i>
        <h5>message inbox</h5>
        <p class="feature-sub-paragraph">We believe in Simple,Creative & flexible Design Standards with a Retina.</p>
      </div>
      <div class="col-md-3 col vertical-line">
          <i class="fa fa-map-marker fa-2x icon"></i>
        <h5>my place</h5>
        <p class="feature-sub-paragraph">We believe in Simple,Creative & flexible Design Standards with a Retina.</p>
      </div>
      <div class="col-md-3 col">
          <i class="fa fa-calendar-check-o fa-2x icon "></i>
        <h5>events calender</h5>
        <p class="feature-sub-paragraph">We believe in Simple,Creative & flexible Design Standards with a Retina.</p>
      </div>
    </div>
  </div>
  <div class="container">
  <div class="row">
      <div class="col-md-3 col vertical-line">
          <i class="fa fa-play-circle-o fa-2x icon"></i>
        <h5>media player</h5>
        <p class="feature-sub-paragraph ">We believe in Simple,Creative & flexible Design Standards with a Retina.</p>
        
      </div>
      <div class="col-md-3 col vertical-line">
        <i class="fa fa-cloud fa-2x icon"></i>
        <h5>wheather on-the-go</h5>
        <p class="feature-sub-paragraph">We believe in Simple,Creative & flexible Design Standards with a Retina.</p>
      </div>
      <div class="col-md-3 col vertical-line">
          <i class="fa fa-comments fa-2x icon"></i>
        <h5>live chat message</h5>
        <p class="feature-sub-paragraph">We believe in Simple,Creative & flexible Design Standards with a Retina.</p>
      </div>
      <div class="col-md-3 col">
          <i class="fa fa-user-plus fa-2x icon"></i>
        <h5>friends list</h5>
        <p class="feature-sub-paragraph">We believe in Simple,Creative & flexible Design Standards with a Retina.</p>
      </div>
    </div>
  </div>
</div>




<div class="wrapper">
    <app-reviews></app-reviews>
  </div>
