<div class="full-width">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col">
        <img class="hero-image" src="../../../../assets/imgs/hero-image.png" alt="hero image" width="250">
      </div>
      <div class="col-md-7 col ">
        <h1 class="home-title">awesome<br> mobile app.</h1>
        <p class="home-paragraph">an awesome wordpress theme for app and app store site</p>
        <button class="btn-apple-store"><i class="fa fa-apple"></i>  Apple store</button>
        <a href="#"class="btn-google-play"><i class="fa fa-paper-plane"></i> Google play</a>
      </div>
    </div>
  </div>
</div>



<div class="wrapper">
    <app-about></app-about>
  </div>
