<div class="reviews-background">
  <div class="container">
    <div class="text-center">
      <img src="../../../../assets/imgs/title-line-1.png" alt="title-line-1">
      <h3 class="reviews-title">happy clients</h3>
      <p class="reviews-paragraph">We believe in Simple,Creative & flexible Design Standards with a Retina.</p>
      
      
      
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <img src="../../../../assets/imgs/testimonial-1-image.png" height="50" width="50">
          <p class="title"><strong>Ali Ahmed - </strong> BackEnd developer</p>
        </ng-template>  
        <ng-template carouselSlide>
          <img src="../../../../assets/imgs/testimonial-2-image.png" height="50" width="50">
          <p class="title"><strong>Amna Atef - </strong> FrontEnd Developer</p>
        </ng-template>  
        <ng-template carouselSlide>
          <img src="../../../../assets/imgs/testimonial-3-image.png" height="50" width="50">
          <p class="title"><strong>Ali Ahmed - </strong> BackEnd Developer</p>
    
        </ng-template>  
        <ng-template carouselSlide>
            <img src="../../../../assets/imgs/testimonial-3-image.png" height="50" width="50">
            <p class="title"><strong>Ali Ahmed - </strong> BackEnd Developer</p>
          </ng-template> 
      </owl-carousel-o>
      
    </div>
  </div>
</div>






<div class="wrapper">
    <app-our-team></app-our-team>
  </div>