<div class="footer-background">
    <div class="container">
        <div class="text-center footer-text">
            <div class="footer-icons">
                <i class="fa fa-facebook-f f-icons"></i>
                <i class="fa fa-twitter f-icons"></i>
                <i class="fa fa-behance  f-icons"></i>
            </div>
            <h3>THANKS FOR SHOPPING BY OUR WEBSITE</h3>
            <p>We believe in Simple,Creative & flexible Design Standards with a Retina.</p>
        </div>
    </div>
</div>
<div class="copyright-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col">
                <p>Copyright &#9400; <span>BootExports</span> .All rightsreserved</p>
            </div>
            <div class="col-md-3 col">
                <a class="copyright-links" href="#">OurTeam</a>
                <a class="copyright-links" href="#">Sitmap</a>
                <a class="copyright-links" href="#">Signin</a>
            </div>
        </div>
    </div>
</div>
