
<nav class="navbar navbar-expand-lg ">
    <div class="container">
        <div class="row">
        <div class="col-md-6">
      <a class="navbar-brand" routerLink="/"><img src="../../../../assets/imgs/logo.png" alt="logo"></a>
      <button (click)="toggleOption()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="col-md-6">
      <div class="collapse navbar-collapse" [class.show]="isOpen" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home
              <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="/about" routerLinkActive="active">about</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="/feature" routerLinkActive="active">feature</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="/reviews" routerLinkActive="active">reviews</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="/our-team" routerLinkActive="active">ourteam</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="/support" routerLinkActive="active">support</a>
          </li>
          <li class="nav-item" >
              <button class="nav-link buytheme-btn ">buytheme</button>
            </li>
        </ul>
      </div>
      </div>
    </div>
    </div>
  </nav>











<div class="wrapper">
    <app-home></app-home>
  </div>
