<div class="support-background">
  <div class="container">
    <div class="text-center">
      <img src="../../../../assets/imgs/title-line-2.png">
      <h3 class="support-title">support clients</h3>
      <p class="support-paragraph">We believe in Simple,Creative & flexible Design Standards with a Retina.</p>
    </div>
    <div class="support-form">
      <form class="form-padding">
        <div class="row">
          <div class="col-md-5 col offset-md-2">
            <input type="text" class="form-control mb-3" placeholder="Your Name">
            <input type="text" class="form-control mb-3" placeholder="Your Email">
            <textarea class="form-control form-control mb-3" placeholder=" Your message" rows="7"></textarea>
            <button type="submit" class="send-button">Send</button>
          </div>
          <div class="col-md-3 col ">
            <div class="support-icon">
              <i class="fa fa-headphones fa-2x icons "></i>
              <h6>telephone</h6>
              <p>01204863456</p>
              <i class="fa fa-envelope fa-2x icons"></i>
              <h6>Email address</h6>
              <p>amna.atef.fci96@gmail.com</p>
            </div>
          </div>
        </div>
  
      </form>

    </div>
  </div>
</div>




<div class="wrapper">
    <app-footer></app-footer>
  </div>
