@import '../components/icons.scss';

.about{
    margin: 100px auto;
    text-align: center;
}
.about-header{
    @include uppercase;
    color: #1b262c;
}
.about-paragraph{
    color: gray;
}
.icons{
    @include icons;
    color: #cf6a87;
    margin-bottom: 10px;
    border: 1px solid #cf6a87;
    &:hover{
        background-color: #cf6a87;
        color: white;
        transition: background-color .7s ease-in;
    }
}

.best-app{
    @include background-image;
    background-image: url('../../../assets/imgs/bestapp-bg.jpg');
}
.bestapp-header , .best-app-paragraph{
    @include uppercase;
    color: $primaryColor;
}
.bestapp-header{
    padding-top: 100px;
}
.best-app-paragraph{
    padding-bottom: 30px;
    padding-top: 15px;
}
.best-app-margin{
    margin-top: 100px;
}
