.feature{
    margin: 50px auto;
    @include uppercase;
    text-align: center;
}
.feature-paragraph, .feature-sub-paragraph{
    color: #95a5a6;
    margin: 20px auto 50px ;
}
.feature-sub-paragraph{
    text-transform: lowercase;
}
.icon{
    color: #95a5a6;
    border: 1px solid #b2bec3;
    @include icons;
}
.vertical-line{
    border-right: 1px solid #b2bec3;
    height: 250px;
    
}