.footer-background{
    background-color: #2f3640; 
    width: 100%;
   padding-top: 70px;
   padding-bottom: 70px;
}
.footer-text{
    color: #dcdde1;
}
.f-icons{
    margin: auto 7px 7px;
    border: 1px solid #dcdde1;
    border-radius: 50%;
    padding: 5px;
}
.copyright-bar{
    background-color:#1e272e;
    color: #bdc3c7;
}
span{
    color: #cf6a87;
}
.copyright-links{
    color: #dcdde1;
    margin: auto 10px;
}