@import '../components/background-image.scss';
.full-width{
    @include background-image;
    background-image: url('../../../assets/imgs/home-bg.jpg');
    margin-top: -90px;
}
.hero-image{
    padding-top: 100px;
}
.home-title{
    color: $primaryColor;
    @include uppercase;
    padding-top: 200px;
}
.home-paragraph{
    color: $primaryColor;
    @include uppercase;
    margin: 15px auto 50px;
}
.btn-apple-store{
    @include buttons;
    padding: 7px;
}
.btn-google-play{
    margin-left: 25px;
    border: 1px solid #c7b198;
    color: $primaryColor;
    padding: 7px;
    width: 100px;
}  
