.our-team{
    @include uppercase;
}
.our-team-header{
    margin: 20px auto;
}
.our-team-background{
    background-image: url('../../../assets/imgs/team-bg.jpg');
    @include background-image; 
}
.our-team-paragraph{
    color: #95a5a6;
}
.our-team-paragraph2{
    color:#bdc3c7;
    margin: 50px auto;
}
.our-taam-images{
    padding-bottom: 50px;
    
}