.reviews-background{
    @include background-image;
    background-image: url('../../../assets/imgs/clients-bg.jpg');
}
.reviews-title, .reviews-paragraph{
    @include uppercase;
    color: white;
}
.reviews-title, .title{
    padding-top: 20px;
}
.reviews-paragraph, .title{
    color: lightgrey;
}
.reviews-paragraph{
    padding-bottom: 20px;
}
.description {
    @include uppercase;
    color: lightgrey;
}