.support-background{
    @include background-image;
    background-image: url('../../../assets/imgs/support-bg.jpg');
}
.support-form{
    border: 1x solid #95a5a6;
    background-color: white;
}
.support-title, .support-paragraph{
    @include uppercase;
}
.support-paragraph{
    margin-bottom: 50px;
}
.form-padding{
    padding-top: 100px;
    padding-bottom: 100px;
}
.support-icon{
    background-color: #ecf0f1;
    text-align: center;
}
.form-control {
    background-color: #ecf0f1 !important;
}
.icons{
    color: #cf6a87;
}
.send-button{
    @include buttons;
    background-color: #cf6a87;
    padding: 5px;
}