@import '../../sass/base/reset.scss';
@import '../../sass/components/uppercase.scss';
@import '../../sass/components/buttons.scss';


.nav-link{
    color: $primaryColor;
    @include uppercase;
    margin: 7px 5px auto 5px;
}
.buytheme-btn{
    @include buttons;
}