<div class="our-team">
  <div class="container text-center">
    <img src="../../../../assets/imgs/title-line-2.png">
    <div class="our-team-header">
      <h3>our team</h3>
      <p class="our-team-paragraph">We believe in Simple,Creative & flexible Design Standards with a Retina.</p>
    </div>
  </div>
  <div class="our-team-background">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <p class="our-team-paragraph2">We believe in Simple,Creative & flexible Design Standards with a Retina.We believe in Simple,Creative & flexible Design Standards with a Retina.We believe in Simple,Creative & flexible Design Standards with a Retina.</p>
        </div>
      </div>
      <div class="our-taam-images">
        <img src="../../../../assets/imgs/team-1-image.jpg" alt="team-1-image" width="270">
        <img src="../../../../assets/imgs/team-2-image.jpg" alt="team-2-image" width="270">
        <img src="../../../../assets/imgs/team-3-image.jpg" alt="team-3-image" width="270">
      </div>
    </div>
  </div>
  </div>



<div class="wrapper">
    <app-support></app-support>
  </div>
